<!--This file contains the generic html for header-->

<!DOCTYPE html>
<html>
  <head>
    <!-- scale for device responsiveness-->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
      
      <!-- Font Awesome Icons CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="inner">
        <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>  
            <li><a href="/about">About</a></li>
            <li><a href="/project">Projects</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      </div>
      